*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
}

/* fonts */

html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.navigation-container{
    position: fixed;
    top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0%;
    right: 0%;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    backdrop-filter: blur(4px);
}
.navigation-logo{
    width: 20%;
    margin-left: 10%;
}
.navigation-ancre{
    width: 40%;
    margin-right: 10%;
}
.navigation-ancre li{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Poppins';
}
.navigation-ancre a{
    text-decoration: none;
    color: #000;
}

/* top-intro-section */

.introduction-container{
    background-color: #F6EFE6;
    width: 100%;
    height: 95vh;
    position: relative;
}
.introduction-container h1{
    font-size: 56px;
    line-height: 84px;
    width: 40%;
    font-family: 'Poppins';
    font-weight: 400;
    text-align: right;
    margin-right: 10%;
    padding-top: 240px;
}
.introduction-container span{
    color: #3182F6;
}
.introduction-image-top{
    /*
    background-color: #C4C4C4;
    */
    position: absolute;
    left: 223px;
    top: -19px;
    width: 450px;
    height: 550px;
}
.introduction-image-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.introduction-image-bottom{
    background-color: #C4C4C4;
    position: absolute;
    width: 1053px;
    height: 437px;
    right: 8%;
    top: 660px;
}
.introduction-image-bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.postulat-text{
    margin-top: 400px;
    margin-left: 307px;
    margin-right: 10%;
    margin-bottom: 90px;
}

/* realisation-container */

.realisation-container{
    width: 90%;
    margin-left: 0;
    height: 1394px;
    background-color: #C4C4C4;
    position: relative;
    background-image: url(images/desertbg.jpg);
}
.realisation-section{
    width: 80%;
    margin-left: 0;
    bottom: 0;
    position: absolute;
    height: 1196px;
    background-color: #FFF;
}
.realisation-section h2{
    font-size: 56px;
    font-weight: 400;
    text-align: right;
    color: #EA583A;
    padding-top: 50px;
    padding-right: 160px;
}

.realisation-top{
    margin-left: 0%;
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.realisation-top-thumbnail{
    position: relative;
    width: 559px;
    height: 251px;
    background-color: #C4C4C4;
    margin-left: 0;
    margin-top: 50px;
    background-image: url(images/Sequence-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.realisation-top-button,
.realisation-middle-button,
.realisation-bottom-button{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90px;
    height: 90px;
    background-color: #3182F6;
    z-index: 3;
    font-size: 24px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: .3s ease;
}
.realisation-top-button:hover,
.realisation-middle-button:hover,
.realisation-bottom-button:hover{
    background-color: #EA583A;
    transition: .3s ease;
}
.realisation-top-info{
    width: 30%;
    margin-right: 0;
}
.realisation-top-info h3,
.realisation-middle-info h3,
.realisation-bottom-info h3{
    font-weight: 400;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
}
.realisation-top-info p,
.realisation-middle-info p,
.realisation-bottom-info p{
    font-size: 16px;
    line-height: 24px;
    color: #585858;
}

.realisation-middle{
    margin-right: 0%;
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}
.realisation-middle-thumbnail{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #C4C4C4;
    margin-right: 0;
    background-image: url(images/Mister-Coocky-Mockup.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.realisation-middle-info{
    width: 40%;
    margin-left: 0;
    margin-top: 160px;
}
.realisation-bottom{
    margin-left: 0%;
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: row;
}
.realisation-bottom-thumbnail{
    position: relative;
    width: 479px;
    height: 309px;
    background-color: #C4C4C4;
    margin-left: 0;
    background-image: url(images/Louvre-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.realisation-bottom-info{
    width: 35%;
    margin-right: 0;
    margin-top: 160px;
}


/* about-container */

.about-container{
    margin-right: 0;
    margin-left: 307px;
    margin-top: 350px;
    padding-top: 64px;
    padding-left: 84px;
    padding-bottom: 92px;
    padding-right: 10%;
    background-color: #F6EFE6;
    margin-bottom: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about-container h2{
    margin-left: 0;
    font-size: 56px;
    line-height: 84px;
    font-weight: 400;
    color: #EA583A;
}
.about-container p{
    margin-top: 28px;
    width: 50%;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    margin-right: 0%;
}
.about-container strong{
    color: #EA583A;
}


/* contact-container */

.contact-container{
    margin-top: 30px;
    margin-bottom: 140px;
    width: 80%;
    margin-right: 10%;
}
.contact-container h2{
    font-size: 56px;
    line-height: 84px;
    text-align: right;
    margin-right: 0;
    color: #3182F6;
    font-weight: 400;
}
.contact-informations-container{
    margin-left: 0;
    margin-top: 70px;
}
.contact-informations-cards{
    margin-bottom: 30px;
}
.contact-informations-cards h3{
    font-size: 18px;
    font-weight: 400;
    color: #EA583A;
    margin-bottom: 6px;
}

.contact-informations-cards p{
    font-size: 24px;
}
.contact-informations-cards a{
    color: #000;
    text-decoration: none;
}


/* footer */

.footer{
    text-align: center;
    font-size: 14px;
    color: #F6EFE6;
    background-color: #EA583A;
    width: 80%;
    padding: 25px 0px;
}